.tree-view-scroller {

  overflow: hidden;

  &:hover {
    overflow: auto;
  }

}

atom-text-editor::shadow {

  .line-number {
    min-width: 64px;
  }

  .scroll-view + .vertical-scrollbar {
    width: 0;
    height: 0;
  }

  .region.bracket-matcher {
    background-color: rgba(255, 255, 255, 0.309);
    border-bottom: none;
  }

  atom-text-editor-minimap::shadow {

    .minimap-scroll-indicator {
       width: 0;
    }

    .minimap-visible-area {
      // Uncomment this for fancy screenshots. :-)
      // {
      // opacity: 0;
      // }
    }

  }

}

.status-bar {
  height: 23px;
}
